This notebook will be an exploration of cold start methodologies in recomender systems.  I will use the Yelp dataset.

In [48]:
import pandas as pd
import os
import tarfile
import json

from sqlalchemy import create_engine, MetaData, Table, Column, String, Integer, Numeric, DateTime, text

from sqlalchemy.dialects.mysql import \
        CHAR, DATE, DATETIME, DECIMAL, \
        MEDIUMTEXT, NUMERIC, VARCHAR, YEAR

# Import json and add to database

In [2]:
os.listdir('data')

['yelp_dataset.tar', '.DS_Store', 'yelp_dataset']

In [3]:
if not os.path.exists('data/yelp_dataset'):
    tar = tarfile.open(os.path.join('data', 'yelp_dataset.tar'))
    tar.extractall('data/yelp_dataset')
else:
    print("Destination already exists.")

Destination already exists.

In [4]:
DATA_PATH = 'data/yelp_dataset'
os.listdir(DATA_PATH)

['yelp_academic_dataset_checkin.json',
 'Dataset_User_Agreement.pdf',
 'yelp_academic_dataset_tip.json',
 'yelp_academic_dataset_review.json',
 'yelp_academic_dataset_business.json',
 'yelp_academic_dataset_user.json']

# Create Database

In [32]:
# Migrate to MySQL for faster queries
engine = create_engine('mysql+pymysql://root:password@localhost/yelp')
#engine = create_engine("sqlite:///database")

metadata = MetaData(engine)
metadata.reflect()

In [27]:
metadata.tables

FacadeDict({})

In [24]:
# Start Over
metadata.drop_all()

## Reviews
Reviews is too large to hold in memory, we need to write this directly to a database line by line.

In [8]:
# file too large, we run out of memory
# review_df = pd.read_json(os.path.join(DATA_PATH, 'yelp_academic_dataset_review.json'), lines=True)

In [33]:
# Explicity create review table

review_table = Table('review', 
                     metadata,
                     Column('review_id', VARCHAR(256), primary_key=True),
                     Column('user_id', VARCHAR(256)),
                     Column('business_id', VARCHAR(256)),
                     Column('stars', NUMERIC),
                     Column('useful', NUMERIC),
                     Column('funny', NUMERIC),
                     Column('cool', NUMERIC),
                     Column('text', MEDIUMTEXT),
                     Column('date', DATETIME)
                    )

In [34]:
metadata.create_all()

In [49]:
def upsert_df(table, df):
    '''Use Batched Insert'''

    # should already be object, but make sure.
    df = df.astype('object')

    # Convert non to None for MySQL
    df = df.where((pd.notnull(df)), None)

    # Build query
    insert_keys = df.columns
    insert_keys = ','.join(insert_keys)

    insert_vars = ','.join([f':{col}' for col in df.columns])

    update_values = [f'{col}=VALUES({col})' for col in df.columns]
    update_values = ', '.join(update_values)

    insert_string = f'''
        INSERT INTO {table} ({insert_keys})
        VALUES ({insert_vars})
        ON DUPLICATE KEY
        UPDATE {update_values}
    '''

    # open single connection for all rows
    with engine.connect() as conn:

        # Batch in groups of upto 500,000 to avoid exceeding lock table size
        batch_size = 5*(10**5)
        for i in range(0, len(df), batch_size):
            conn.execute(text(insert_string), df[i:i+batch_size].to_dict('records'))

In [ ]:
def upsert_file(table, filename):
    lines = {}

    with open(filename, 'r') as f:

        for line in f:

            line = f.readline()
            line = json.loads(line)

            for key in line.keys():
                if key not in lines.keys():
                    lines[key] = []

                lines[key].append(line[key])

            if len(lines[key]) % 500000 == 0:
                lines_df = pd.DataFrame(lines)
                upsert_df(table, lines_df)
                lines = {}

        # handle leftover
        lines_df = pd.DataFrame(lines)
        upsert_df(table, lines_df)

In [ ]:
review_file = os.path.join(DATA_PATH, 'yelp_academic_dataset_review.json')

upsert_file(table, filename)

In [ ]:
review_file = os.path.join(DATA_PATH, 'yelp_academic_dataset_review.json')
lines = {}

with open(review_file, 'r') as f:
    
    for line in f:
    
        line = f.readline()
        line = json.loads(line)
        
        for key in line.keys():
            if key not in lines.keys():
                lines[key] = []
            
            lines[key].append(line[key])

        if len(lines[key]) % 500000 == 0:
            lines_df = pd.DataFrame(lines)
            upsert_df('review', lines_df)
            lines = {}

    # handle leftover
    lines_df = pd.DataFrame(lines)
    upsert_df('review', lines_df)

## Business

In [ ]:
business_df = pd.read_json(os.path.join(DATA_PATH, 'yelp_academic_dataset_business.json'), lines=True)

In [ ]:
business_df.shape

In [ ]:
business_df.head()

In [ ]:
business_df.categories.str.contains('Italian').sum()