This notebook will be an exploration of cold start methodologies in recomender systems.  I will use the Yelp dataset.

In [25]:
import pandas as pd
import os
import tarfile
import json

from sqlalchemy import create_engine, MetaData, Table, Column, String, Integer, Numeric, DateTime

# Import json and add to database

In [4]:
os.listdir('data')

['yelp_dataset.tar', 'yelp_dataset']

In [6]:
if not os.path.exists('data/yelp_dataset'):
    tar = tarfile.open(os.path.join('data', 'yelp_dataset.tar'))
    tar.extractall('data/yelp_dataset')
else:
    print("Destination already exists.")

Destination already exists.

In [7]:
DATA_PATH = 'data/yelp_dataset'
os.listdir(DATA_PATH)

['yelp_academic_dataset_checkin.json',
 'Dataset_User_Agreement.pdf',
 'yelp_academic_dataset_tip.json',
 'yelp_academic_dataset_review.json',
 'yelp_academic_dataset_business.json',
 'yelp_academic_dataset_user.json']

# Create Database

In [30]:
engine = create_engine("sqlite:///database")
metadata = MetaData(engine)
metadata.reflect()

In [36]:
metadata.tables

FacadeDict({})

In [ ]:
# Start Over
# metadata.drop_all()

## Reviews
Reviews is too large to hold in memory, we need to write this directly to a database line by line.

In [ ]:
# file too large, we run out of memory
# review_df = pd.read_json(os.path.join(DATA_PATH, 'yelp_academic_dataset_review.json'), lines=True)

In [39]:
if not 'review' in metadata.tables.keys():
    print('Table does not exists')

Table does not exists

In [53]:
# Import reviews to database


# Only import if the table doesn't exist.  This takes a long time
if not 'review' in metadata.tables.keys():
    review_file = os.path.join(DATA_PATH, 'yelp_academic_dataset_review.json')

    with open(review_file, 'r') as f:
        
        line = f.readline()
        line = json.loads(line)

        line = {k: [v] for k, v in line.items()}
        line_df = pd.DataFrame(lines)

        
#         break;
line_df
            # line_df.to_sql('review', engine, if_exists='append')

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02

In [54]:
review_table = Table('review', 
                     metadata,
                     Column('review_id', String),
                     Column('user_id', String),
                     Column('business_id', String),
                     Column('stars', Numeric),
                     Column('useful', Numeric),
                     Column('funny', Numeric),
                     Column('cool', Numeric),
                     Column('text', String),
                     Column('date', DateTime)
                    )

In [69]:
# Import reviews to database


# Only import if the table doesn't exist.  This takes a long time
# if not 'review' in metadata.tables.keys():
review_file = os.path.join(DATA_PATH, 'yelp_academic_dataset_review.json')

with open(review_file, 'r') as f:

    # read 10000 lines and insert them
    lines = []
    for i in range(10000):
        line = f.readline()
        line = json.loads(line)
        lines.append(line)

    line_df = pd.DataFrame(lines)
    line_df.to_sql('review', engine, if_exists='append')

In [57]:
line_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02

## Business

In [15]:
business_df = pd.read_json(os.path.join(DATA_PATH, 'yelp_academic_dataset_business.json'), lines=True)

In [16]:
business_df.shape

(160585, 14)

In [17]:
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",None
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."

In [19]:
business_df.categories.str.contains('Italian').sum()

3580